* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 0;
    max-width: 2000px;
    background-color: white;
    height: 100%;
}

h2 {
    font-size: 2rem;
}





/* header */

header {
    display: block;
}

/* navbar */
.navbar {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    resize: both;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.25rem;
}

.link_list {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 1.5rem;
    flex-shrink: 1;
    font-size: 13px;
}

.link, .nav_links {
    padding: 5px 5px;
    text-decoration: none;
    list-style: none;
    color: white;
}

.navbar_container a.icon{
    display: none;
}

.link_list, .link_icons {
    display: hidden;
}

.joel {
    color: white;
    text-decoration: none;
    position: relative;
    right: 3rem;
}

#mobile_menu {
    display: none;
}

.menu_icon {
    display: none;
}

.link_icons {
    margin: 0 1.5rem; 
    flex-shrink: 1;
}

.icon_link {
    padding: .5rem;
}

.icon {
    height: 1.25rem;
}

/* navbar hovers */
.nav_links:hover {
    background-color: white;
    color: black;
    transition: color 200ms linear;
    transition: background-color 200ms linear;
}


/* Main */
main{
    padding-top: 4.25rem;
}

/* banner */

.banner_container {
    width: 100%;
    height: 1000px;
    background-image: url('https://images.squarespace-cdn.com/content/v1/61ff0a13023f7d5024581c3e/4d955cbb-79ac-4df4-b345-c0f3376235d8/IMG_1568.JPG');
    background-repeat: no-repeat;
    background-position-x: -5rem;
    background-size: 115%;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    text-align: center;
    
}

.banner_container h2 {
    font-size: 6rem;
    position: relative;
    top: 200px;
    right: 290px;
    margin: 0;
    opacity: 1;
}

.banner_container p {
    font-size: 2rem;
    position: relative;
    top: 200px;
    right: 290px;
    margin: 0;
    opacity: 1;
}

/* Article */

.article_container {
    display: block;
}

/* about banner on main page */
.index_about_con {
    display: flex;
    justify-content:center;
    align-items: space-between;
    height: 1100px;
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
    opacity: 0.95;
}

.index_about_text {
    text-align: center;
    width: 700px;
    position: relative;
    font-size: 2rem;
    line-height: 4rem;
}

.index_about_text h3 {
    font-size: 4rem;
}

.index_about_text p {
    padding-top: 1rem;
}

/* EPK banner on main page */
.index_epk_banner {
    background-image: url('/Resources/Photos/JoelConcert.JPG');
    height: 100px;
    margin: 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex-wrap: wrap-reverse;
    opacity: 0.95;
}

.index_epk_con {
    width: 430px;
    text-align: center;
    position: relative;
    left: 8rem;
    opacity: 1;
}

button {
    background-color: black;
    padding: .75rem 1rem;
    width: 12rem;
    height: 4rem;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    color: white;
    border: none;
}

.music_button:hover {
    /* color: black; */
    background-color: #727272;
    border: black solid 1px;
    transition: background-color 200ms linear;
}

/* music banner on index */
.index_music_con {
    display: flex;
    background-image: url('/Resources/Photos/joelOnStage.jpeg');
    background-size: 130%;
    background-position-x: 8rem;
    background-position-y: -6rem;
    justify-content: center;
    align-items: flex-start;
    color: white;
    opacity: 0.95;
    font-size: 3rem;
    text-align: center;
    
}

.index_music_con iframe {
    width: 600px;
    height: 650px;
}

.music_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    line-height: .75rem;
    width: 375px;
}

.music_button {
    height: 5rem;
    width: 300px;
    margin: 3rem 5px;
}

/* contact banner on index */
.index_contact_con {
    background-image: url('/Resources/Photos/joelSiitingInSun.jpeg');
    background-size: 130%;
    background-repeat: no-repeat;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    opacity: .95;
    background-position-x: -21rem;
    background-position-y: -6rem ;
}

.con_text {
    width: 275px;
    margin: auto 9.5rem;
    text-align: center;
}

.con_text p {
    font-size: 1.5rem;
}

.con_text h3 {
    margin-bottom: 1rem;
}

.contact_button {
    height: 5rem;
    width: 16rem;
    margin: 6px auto
}

/* footer */
.footer_con {
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* EPK SlideShow */
.epk_banner {
    background-image: url('/Resources/Photos/JoelConcert.JPG');
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 900px;
    color: white;
}

.epk_banner h1 {
    font-size: 7rem;
    margin: auto 17rem;
}

.bio_con {
    height: 800px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 1.75rem;
    line-height: 4rem;
}

.videos_wrapper {
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.videos_con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel_con {
    width: 600px;
    height: 400px; 
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll; 
}

.button_carousel {
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.button_carousel button {
    height: 3rem;
    width: 3rem;
    border: none;
    width: 50px;
    border-radius: 50%;
    margin: 0 15px;
}

.arrow_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 600px;
    height: 400px;
}

.items_con {
    height: 75px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}

.items_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 600px;
}

.video_item {
    height: 75px;
    width: 150px;
    opacity: .5;
    margin: 0 20px;
}

.video {
    width: 600px;
    height: 400px;
}

.video_anc {
    color: white;
    text-decoration: none;
    display: flex; 
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.mobile_videos {
    display: none;
}

.video_item:hover {
    opacity: 1;
    transition: all 200ms linear;
}

.photos_con {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 850px;
}

.photo_col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 559px;
}

.photo_col_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 10px;
}

.photo_col_2 {
    margin: 0 10px
}

.photo_button {
    width: 300px;
    font-size: larger;
}

.epk-banner-bottom {
    background-image: url(/Resources/Photos/joelOnStage.jpeg);
    height: 800px;
    background-size: 100%;
    margin: 2rem auto;
}

.epk-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}


/* music */
.music-wrapper {
    height: 100%;
}

.music_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* showtimes */
.showtime-wrapper {
    height: 100%;
}

.showtime_con {
    height: 544px;
    
}
.showtimes {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
   
}

/* contact */
.contact_wrapper {
    height: 650px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 4.25rem;
    min-height: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.contact_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.form_class {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
}

input {
    width: 100%;
    height: 2rem;
    background-color: #fafafa;
    border: black solid .5px;
}

textarea {
    background-color: #fafafa;
}

.submit_form {
    margin: 12px 8px;
    display: flex;
    flex-direction: column;
}

.submit {
    align-self: center;
}


/* mobile resizing */
@media only screen and (max-width: 480px) {

    /* Navbar */
     .navbar_container {
         display: flex;
         flex-direction: column;
         justify-content: center; 
         align-items:center ; 
     }
 
     .link_con {
         display: none;
     }
 
     #mobile_menu {
         position: relative;
         top: 7rem;
         padding-bottom: 1rem;
         background-color: black;
         width: 100%;
     }
 
     .link_list {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         line-height: 2rem;
         font-size: 1.2rem;
         margin: 0;
 
     }
 
     .link_icons {
         display: flex;
         justify-content: center;
         margin-top: 2rem;
     }
 
     .joel {
        position: unset;
     }
 
     #mobile_menu .joel {
         display: flex;
         justify-content: center;
     }
 
 
     .navbar_container a.menu_icon {
         display: block;
         color: white;
         position: absolute;
         left: 0;
         margin-left: 1rem;
         width: 1rem;
         height: 1rem;
     }

     /* index banner */
     
     .banner_container {
        background-size: cover;
        background-position: -20rem;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
     }

     .banner_container h2 {
        position: unset;
        font-size: 2rem;
     }

    .banner_container p {
        display: none;
    }

    /* index about banner */

    .index_about_con {
       justify-content: center; 
       height: 100%; 
    }

    .index_about_con h3 {
        font-size: 2rem;
    }

    .index_about_text {
        position: unset;
        width: 300px;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    /* index epk banner */

    .index_epk_banner {
        display: flex;
        justify-content: center;
        background-position: -35rem;
    }

     .index_epk_con {
        position: unset;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

     /* index music banner */

     .index_music_con {
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: -7rem;
        min-height: 760px;
        
     }

     .music_con {
        position: unset;
        width: 300px;
     }

     /* contact banner */
     .index_contact_con {
        background-size: cover;
        background-position: unset;
        background-position-x: -15rem;  
        display: flex;
        justify-content: center;
     }

     .con_text {
        margin: 0;
        position: relative;
        top: 6rem
     }

     .con_text p, .con_text h3, .con_text hr {
        display: none;
     }

     /* epk */
    .epk_banner {
        width: 100%;
        background-position: -20rem;
    }

    .bio_con {
        height: 100%;
        width: 100%;
    }

     .bio_text {
        width: 330px;
        height: 800px;
        margin: 0;
        font-size: 1.2rem;
        line-height: 2.5rem;
     }


     .videos_wrapper {
        height: 1200px
     }

     .videos_con {
        width: 420px;
     }

     .items_con, .videos_con {
        display: none;
       
     }

     .mobile_videos {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1000px;
     }

     .video {
        width: 325px;
        height: 200px;
     }

     .photos_con {
        height: 1870px;
        margin-top: 1rem;
     }

     .photos_con h2 {
        margin: 2rem auto;
     }

     .photo_col {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 1600px;  
     } 

     .photo_col_1 {
        justify-content: center;
        margin: 0;
        height: 530px;
     }

     .photo_col_2 {
        margin-bottom: 2rem;
     }

     .photo {
        margin-bottom: 1rem;
        
     }

     .epk-banner-bottom {
        height: 250px;
        margin-top: 5rem;
     }

     /* music */
     .music_con iframe {
        width: 95%;
        height: 400px;
     }

     .music_con h3 {
        margin: 50px auto;
     }

     .music_button {
        margin: 7px auto;
        width: 200px;
     }

     .music_buttons {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
     }

     /* shows */
     .showtime_con {
        min-height: 760px;
     }

     /* contact */
     .contact_wrapper {
        min-height: 830px;
     }

     .contact-form {
        width: 350px;
     }

     input, label, textarea{
        width: 100%;
     }

 }


 /* tablet resizing */

 @media only screen and (max-width: 800px) and (min-width: 482px) {
   
    /* navBar */
    .navbar_container {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items:center ; 
    }

    .link_con {
        display: none;
    }

    #mobile_menu {
        position: relative;
        top: 7rem;
        padding-bottom: 1rem;
        background-color: black;
        width: 100%;
    }

    .link_list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2rem;
        font-size: 1.2rem;
        margin: 0;

    }

    .link_icons {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .joel {
       position: unset;
    }

    #mobile_menu .joel {
        display: flex;
        justify-content: center;
    }

    .navbar_container a.menu_icon {
        display: block;
        color: white;
        position: absolute;
        left: 0;
        margin-left: 1rem;
        width: 1rem;
        height: 1rem;
    }

    /* Index */

    /* banner */
    .banner_container {
        justify-content: center;
        align-items: flex-start;
        background-position-x: -15rem;
    }
    .banner_container h2, .banner_container p {
        position: unset;
        width: 350px;
        margin-left: 1.5rem;
    }

    /* about Index */
    .index_about_con {
        background-position-x: -14rem;
        background-size: 75rem;
    }

    .index_about_text {
        position: unset;
        width: 375px;
        margin-right: 1rem;
    }

    /* epk index */
    .index_epk_banner {
        background-position-x: -19rem ;
    }

    .index_epk_con {
        position: unset;
        margin-left: 3rem;
    }

    /* music index */
    .index_music_con {
        background-size: 200%;
        background-position-x: -12rem;
        min-height: 875px;
    }

    .music_con {
        position: unset;
        margin-left: 4rem;
    }

    /* contact index */
    .index_contact_con {
        background-size: 150%;
        background-position-x: -24rem ;
    }

    .con_text {
       margin: auto 4rem;
    }


    /* epk */
    .button_carousel {
        width: 100%
    }

    .photos_con {
        height: 1400px
    }

    .photo_col {
        flex-direction: column;
        width: 100%;
        height: 1100px;
    }

    .photo_col_1 {
        flex-direction: row;
        height: 275px;
        margin-bottom: 15px;
    }
    
    .photo {
        margin: auto 7.5px;
    }

    /* music */
    .music_buttons {
        flex-direction: column;
    }

    /* showtimes */ 
    .showtime_con {
        min-height: 875px;
    }

    /* contact */
    .contact_wrapper {
        min-height: 945px;
    }
 }

 /* tablet landscape resizing */
 @media only screen and (max-width: 1024px) and (min-width: 805px) {
   
    /* Navbar */
    .navbar_container {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items:center ; 
    }

    .link_con {
        display: none;
    }

    #mobile_menu {
        position: relative;
        top: 7rem;
        padding-bottom: 1rem;
        background-color: black;
        width: 100%;
    }

    .link_list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2rem;
        font-size: 1.2rem;
        margin: 0;

    }

    .link_icons {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .joel {
       position: unset;
    }

    #mobile_menu .joel {
        display: flex;
        justify-content: center;
    }


    .navbar_container a.menu_icon {
        display: block;
        color: white;
        position: absolute;
        left: 0;
        margin-left: 1rem;
        width: 1rem;
        height: 1rem;
    }

    /* index */

    /* banner */
    .banner_container {
        background-position-x: -5rem;
        justify-content: center;
        align-items: flex-start;
    }

    .banner_container h2, .banner_container p {
        position: unset;
        margin-left: 12rem;
        width: 350px;
    }

    /* about index */
    .index_about_con {
        background-position: -12rem;
        background-size: 125%;
    }

    .index_about_text {
        position: unset;
        margin-right: 5rem;
    }

    /* epk index */
    .index_epk_banner  {
        background-position-x: -14rem;
    }

    /* music index */
    .index_music_con {
        background-size: 210%;
        background-position-x: -16rem;
        min-height: 1215px;
    }

    .music_con {
        position: unset;
        margin-left: 5rem;
        width: 450px;
        height: 1000px;
    }

    .music_con iframe {
        height: 500px;
    }

    /* contact index */
    .index_contact_con {
        background-size: 150%;
        background-position-x: -23rem;
    }

    .con_text {
        margin: auto 2.5rem;
    }

    /* epk */
    .photos_con {
        height: 1350px;
    }

    .photo_col {
        height: 1100px;
        flex-direction: column;
    }

    .photo_col_1 {
        flex-direction: row;
        width: 770px;
    }
    
    /* music */
    .music_buttons {
        flex-direction: column;
    }

    /* showtimes */
    .showtime_con {
        min-height: 1215px;
    }

    /* contact */
    .contact_wrapper {
        min-height: 1280px;
    }
 }




  
 